header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.container{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
.container a{
    margin-top: 25px;
}
.picture{
    justify-self: end;
    margin-top: 50px;
}

.intro{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 260px;
    margin-top: 100px;
}
.image img{
    justify-self: end;
    width: 40%;
    height: 250px; 
    border-radius: 50%; 
}
.head{
display: flex;
flex-direction: row-reverse;
justify-items: start;
padding-left: 0%;
}
.john{
    display: flex;
    flex-direction: row;
    justify-items: space-between;
    
}

.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #8F9EA5;
}
.work{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}
.sticky{
    display: flex;
    justify-content: flex-end;
}
.footer{
    display: flex;
    justify-content: center;

}

