header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 245px;
    font-size: 20px;
}
.container{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
.container a{
    margin-top: 25px;
}
.picture{
    justify-self: end;
    margin-top: 50px;
    margin-right: 240px;
}

.intro{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 260px;
    margin-top: 100px;
}
.image img{
    justify-self: end;
    width: 40%;
    height: 250px; 
    border-radius: 50%;
    padding-bottom: 100px;
}
ul{
    list-style: none;
    padding-left: 0px;
    font-size: 20px;
    color:  #8F9EA5;
}
.head{
display: flex;
flex-direction: row-reverse;
justify-items: start;
padding-left: 0%;
}
.john{
    display: flex;
    flex-direction: row;
    justify-items: space-between;
}
.kal{
    color: #8F9EA5;
    font-size: 20px;
}
#photos{
    width: 40px;
    height: auto;
    margin-right: 10px;
}


.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#F3F3F3;
    margin-top: 50px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 50px;
}
.work{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}
.sticky{
    display: flex;
    justify-content: center;
}
footer{
    text-align: center;
    background-color: #F3F3F3;
    margin-top: 150px;
    padding: 30px;
}
.sam{
    width: 1000px;
    height: auto;
    display: flex;
    justify-items: center;
}
.finalworks{
    display: flex;
    flex-direction: column;
    align-items: center;
}



